body {
  font-family: "PT Sans Narrow","Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  /* убрать */
  outline: 2px solid red;
}

.main-header {
  margin-bottom: 60px;
  /* убрать */
  outline: 2px solid green;
}

.navigation {
  float: left;
  width: 780px;
  min-height: 70px;
  /* убрать */
  outline: 2px solid yellow;
}

.navigation li {
  display: inline;
  margin-right: 35px;
}

.user-block {
  float: right;
  width: 140px;
  min-height: 70px;
  /* убрать */
  outline: 2px solid yellow;
}

.page-header {
  margin-bottom: 50px;
  /* убрать */
  outline: 2px solid yellow;
}

.page-title {
  font-size: 30px;
  line-height: 42px;
}

.catalog-content {
  margin-bottom: 45px;
  /* убрать */
  outline: 2px solid blue;
}

.filter {
  float: left;
  width: 220px;
  margin-right: 20px;
  /* убрать */
  outline: 2px solid yellow;
}

.catalog-items {
  float: right;
  width: 700px;
  /* убрать */
  outline: 2px solid yellow;
}

.catalog-item {
  display: inline-block;
  width: 220px;
  margin-right: 15px;
  margin-bottom: 20px;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

/* страница товара */

.item-photos {
  float: left;
  width: 460px;
  /* убрать */
  outline: 2px solid yellow;
}

.item-info {
  float: right;
  width: 390px;
  /* убрать */
  outline: 2px solid yellow;
}

.main-footer {
  padding-top: 60px;
  padding-bottom: 40px;
  /* убрать */
  outline: 2px solid green;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
  /* убрать */
  outline: 2px solid yellow;
}

.footer-social {
  float: left;
  width: 220px;
  /* убрать */
  outline: 2px solid yellow;
}

.footer-copyright {
  float: right;
  width: 160px;
  /* убрать */
  outline: 2px solid yellow;
}

.components-title {
  font-size: 24px;
  line-height: 30px;
}
